#display tr td, #display , #display tr th{
    border: 1px solid black;
}

#display tr td, #display tr th {
    width: 25%;
}

#display {
    border-collapse: collapse;
    width: 100%;
}

table {
    width: 100%;
}

input[type=text], input[type=number] {
    width:100%;
}

td {
    text-align: center;
}